

  <div class="container">

    <div class="signup-container">
        <a href="/signup"><button class="signup-btn">SIGNUP</button></a>
        <a href="/login"><button class="login-btn">LOGIN</button></a>
    </div>



    <h1> Project Blog</h1>
    <a href="/articles/new"><button class="new-btn">New Article</button></a>
</div>

  
    {{#each articles}}

        <div class="card">
            <div class="card-body">
               <h3 class="title">{{title}}</h3>

                <div class="card-subtitle">
                  <h5>{{createdAt}}</h5>  
                   
                </div>
                <div class="card-text">{{description}} 
                </div>  

                <div>{{markdown}}</div>
            </div>
            <button id={{_id}}>read more</button>
            <a href=""><button class="edit-btn">EDIT</button></a>
            <a href=""><button class="delete-btn">DELETE</button></a>
        </div>
        
    {{/each}}


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="scripts/script.js"></script>